@charset "utf-8";
body{
  margin-left: 50px;
  margin-right: 50px;
  background-color: #DCDCDC;
}
header{
  background-image: url("background-image.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  -webkit-border-radius: 50px 50px 0px 0px;
  -moz-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
}
nav {
    /*padding: 20px 0;*/
    min-width: 500px;
    background-color: #ADD8E6;
    text-align: center;
}
nav ul {
    background-color: #00BFFF;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px;
    font-size: 18px;
    font-family: Arial;
    font-color: black;
    text-decoration: none;
    display: block;
 }
/*article{
  padding: 25px;
  background-color: #d3d3d3;
}*/
section{
    background-color: #87CEEB;
    padding-top: 0px;
    -webkit-border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    border-radius: 0px 0px 50px 50px;
}
article{
  clear:both;
  padding: 25px;
}
article table{
  margin: auto;
}
article#resume{
  padding-bottom: 20px;

}
article#conclusion{
  background-image: url("background-image.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  text-align: center;
  padding: 10px;
  /*background-color: #00BFFF;*/
  border-radius: 0px 0px 50px 50px;
}
h1{
  font-size: 45px;
  text-align: center;
  padding-top: 20px;
}
h2 {
font-size: 20px;
}
p{
	font-size: 16px;
	font-family: Arial, sans-serif;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
}
img{
    width: 300px;
    padding: : 15px;
    box-shadow: 1px 1px 12px #555;
}
table {
    width: 100%;
    font-size: 16px;
}
table, th, td {
    align: center;
    width: 70%;
    border: 2px solid #CECECE;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    font-size: 16pt;
}
caption{
  text-align: center;
  font-weight: bold;
}
ul  {
  list-style-position: outside;
}
hr {
  border: 5px solid grey;
  border-radius: 5px;
}
h2#headText
{
  font-size: 40px;
  text-align: center;
  padding-right: 20px;
}
p#headDate
{
  font-size: 15px;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 20px;
}
ul#bulletIntro{
  list-style-image: url("bullet.png");
  list-style-position: inside;
}
thead tr{
  background-color: #ADD8E6;
}
tr:nth-child(2n+2) {
  background-color: #ADD8E6;
}
.imgLeft{
      float: left;
}
.imgRight{
      float: right;
}
